body {
    text-align: center;
    background-color: slategray;

}

#game-board { 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
    width: 250px;
    padding: 10px;
}

.tile {
    height: 100%;
    background-color: #ddd;
    height: 40px;  
    width: 40px;
    border: solid 5px lightgrey;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
}


