/* ken's TTT method */

#game-board { 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    padding: 0;
    width: 500px;
}


.tile {
    background-color: #777;  
    height: 50px;  
    width: 50px;
    border: solid 1px black;
}


